@import "variables";
body {
  padding: 32px;
  margin: 32px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}
nav {
  padding: 0;
  margin: 0;
  display: inline-block;
  border: 1px solid #333;
  border-top-color: #707070;
  background-color: #5E5E5E;
  width: 100%;
  margin-bottom: 4px;
  font-size: 0.8em;
  @include shadow-float();

  li {
    display: inline;
    list-style: none;
    margin-left: 15px;
  }
  a{

    display: inline-block;
    margin: 0 30px;
    font-size: 1.8em;
    color:$warn;

  }
}
.main {background-color: #8fd689;
  padding: 32px;
  margin: 32px;
  width: 800px;
  height: 600px;
}
@mixin linx ($link, $visit, $hover, $active) {
  a {
    color: $link;
    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover;
    }
    &:active {
      color: $active;
    }
  }
}
p {
  @include linx(white, blue, green, red);
}
